<div class="container inc about-inc">
	<div class="row">
		<div class="col-md-12">
			<h2>About Michael Gregory</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-3">
			<p><img alt="gregoryjpg" src="http://www.mikegreg.com/sites/default/files/mikegreg-3.png"></p>
		</div>
		<div class="col-md-8 col-lg-9">
			<p>Michael A. Gregory, has an extensive background as an experienced manager with over 25 years experience. He is an Accredited Senior Appraiser with the American Society of Appraisers (ASA), and a Certified Valuation Analyst with the National Association of Certified Valuation Analysts (NACVA). In the third quarter of 2013 he was selected as the outstanding member of NACVA. He has conducted over 400 mediations since 2000 for the IRS, within the MN Court system since 2004 and with his firm. The firm currently conducts three to seven mediations each month. Each receives total customer commitment resulting in timely, quality closures.</p>
			<p><a class="btn btn-primary" href="#">View More About Mike</a></p>
		</div>
	</div>
</div>




