<div class="container inc event-inc">
	<div class="row">
		<div class="col-md-12">
			<h2>Speaking Engagements</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="date">Sep 22</div>
			<h3 class="title">How to Work with the IRS</h3>
			<div class="location">Destin, FL</div>
			<div class="host">Emerald Coast Estate Planning Council</div>
		</div>
		<div class="col-md-4">
			<div class="date">Oct 8</div>
			<h3 class="title">How the IRS Values Non-Controlling Interests in S Corps with Job Aid Commentary by the Original IRS Champion</h3>
			<div class="location">Philadelphia, PA</div>
			<div class="host">Eastern PA NACVA Chapter</div>
		</div>
		<div class="col-md-4">
			<div class="date">Oct 8</div>
			<h3 class="title">How the IRS Determines Reasonable Compensation with Job Aid Commentary by the Original IRS Champion</h3>
			<div class="location">Philadelphia, PA</div>
			<div class="host">Eastern PA NACVA Chapter</div>
		</div>
		<div class="col-md-12 text-center">
			<p><a class="btn btn-primary" href="#">View More Events</a></p>
		</div>
	</div>
</div>