<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Speaking Engagements</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="date">Sep 18</div>
			<div class="title">Learn How to Work with the ITS on Technical Issues</div>
			<div class="location">Carmel, IN</div>
			<div class="host">Indiana CPA Society</div>
		</div>
		<div class="col-md-4">
			<div class="date">Sep 18</div>
			<div class="title">Learn How to Work with the ITS on Technical Issues</div>
			<div class="location">Carmel, IN</div>
			<div class="host">Indiana CPA Society</div>
		</div>
		<div class="col-md-4">
			<div class="date">Sep 18</div>
			<div class="title">Learn How to Work with the ITS on Technical Issues</div>
			<div class="location">Carmel, IN</div>
			<div class="host">Indiana CPA Society</div>
		</div>
	</div>
</div>