<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Mission Statement</h3>
				<p class="">First rate work with least cost to my clients.<br>
					Provide top quality service by helping clients identify, address and resolve issues.</p>
					<p><strong>In short:</strong></p>
					<ul class="list-unstyled">
						<li>do the right thing;</li>
						<li>do what it takes;</li>
						<li>and have fun.</li>
					</ul>
			</div>
			<div class="col-md-4">
				<h3>Follow Mike</h3>
				<ul class="smlinks list-unstyled list-inline">
					<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
					<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
					<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
					<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
				</ul>
				<h3>Contact Mike</h3>
				<ul class="list-unstyled">
					<li><a href="#">For Consulting</a></li>
					<li><a href="#">For Training</a></li>
					<li><a href="#">For Speaking</a></li>
				</ul>
			
			</div>
			<div class="col-md-4">
				<h3>InSight Print Magazine Archive</h3>
				<p class="footer-text">1945 Sharondale Ave. • Roseville, MN 55113&nbsp;• 651-633-5311 © Copyright 2014 &nbsp;Michael Gregory Consulting, LLC. All Rights Reserved</p>
				<p class="footer-contact">Contact&nbsp;<a href="/contact-michael-gregory">Mike Gregory</a>&nbsp;at <a href="http://www.mikegreg.com">www.mikegreg.com</a></p>
			</div>
		</div>
	</div>
</footer>

