<div id="main-content" class="container front">
	<div class="row">
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
		<div class="col-md-4">
			<div class="blog-teaser-img"><img src="http://placehold.it/558x310"></div>
			<div class="teaser-title">Plan a Great Residential Development</div>
			<div class="teaser-deck">What makes these houses a home?</div>
			<div class="teaser-tags"><a href="#">Infrastructure</a>, <a href="#">Inventory</a>, <a href="#">Community Involvement</a>, <a href="#">Engineering</a>, <a href="#">Livability</a></div>
		</div>
	</div>
</div>