<div class="container books-inc">
	<div class="row">
		<div class="col-md-4">
			<h3></h3>
			<p></p>
			<p></p>			
		</div>
		<div class="col-md-4">
			<h3></h3>
			<ul class="smlinks">
				<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
				<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
				<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
				<li class="smicon"><a href="#"><img src="http://placehold.it/25x25"></a></li>
				</ul>
		</div>
		<div class="col-md-4">			
		</div>
	</div>
</div>