
<div class="container inc rel-book-inc">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h2>Related Books</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="book-img col-md-4"><img src="http://www.mikegreg.com/sites/default/files/styles/book-teaser/public/peaceful-resolutions-book-cover.jpg"></div>
			<div class="col-md-8">
				<h3 class="title">Peaceful Resolutions</h3>
				<p>Education and sharing what I have learned drives me. This book aims to assist those involved in issue resolution, negotiations, mediations and compromise to see the common denominators in resolving conflicts.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="book-img col-md-4"><img src="http://www.mikegreg.com/sites/default/files/styles/book-teaser/public/ServantManagerMedium.gif"></div>
			<div class="col-md-8">
				<h3 class="title">The Servant Manager</h3>
				<p>203 Tips for from the best places to work in AmericaTips in this book are organized into sixteen chapters to help you become an uncommon servant manager. This book is designed to help your team become successful by showing you how you can serve them as an uncommon servant manager.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p><a class="btn btn-primary" href="#">View More Books</a></p>
		</div>
	</div>
</div>
