
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Related Books</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="book-img"><img src="http://www.mikegreg.com/sites/default/files/styles/book-teaser/public/peaceful-resolutions-book-cover.jpg"></div>
			<div class="title">Peaceful Resolutions</div>
		</div>
		<div class="col-md-4">
			<div class="book-img"><img src="http://www.mikegreg.com/sites/default/files/styles/book-teaser/public/ServantManagerMedium.gif"></div>
			<div class="title">The Servant Manager</div>
		</div>
	</div>
</div>
