<div class="container inc service-inc">
	<div class="row">
		<div class="col-md-12">
			<h2>Related Services</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		  <p><a href="#"><img alt="Speaking Engagements" src="http://mikegreg.com/sites/default/files/speaking-engagements-ps.jpg"></a></p>
			<p>Mike demonstrates a passion to share what he as learned and transfers this passion to provide you and your team what you need on tax topic and leadership topic issues.</p>
		</div>
		<div class="col-md-3">
      <p class="block-footer-img"><a href="alternative-dispute-resolution"><img alt="Dispute Resolution" src="http://mikegreg.com/sites/default/files/dispute-resolution-ps.gif"></a></p>
			<p>By ensuring a clear understanding of the facts, issues, feelings, and interests, solutions can be explored to reach a conclusion that is acceptable to all parties.</p>
		</div>
		<div class="col-md-3">
 		  <p class="block-footer-img"><a href="risk-management"><img alt="Risk Management" src="http://mikegreg.com/sites/default/files/risk-management-ps.gif"></a></p>
		  <p>Minimize risks with the IRS. Identify, address and resolve tax (income, estate, gift, international) as well as business valuation assistance and review.</p>
		</div>
		<div class="col-md-3">
  		<p class="block-footer-img"><a href="developing-leaders"><img alt="Developing Leaders" src="http://mikegreg.com/sites/default/files/developing-leaders-ps.jpg"></a></p>
			<p>Develop leaders to be servants to others through interactive training relying on neuroscience, practical experience and peer interaction using best practices.</p>
		</div>
  </div>
 </div>