<div class="container">
	<div class="row">
     <div class="col-md-4">
      <div class="img"><a href="/videos/communication-diversity-and-perspective-recorded-live-session"><img src="http://www.mikegreg.com/sites/default/files/img/video/kscpas-community-diversity-perspective.jpg"></a></div>  
    </div> 
    <div class="col-md-8">
     <h2><a href="/videos/communication-diversity-and-perspective-recorded-live-session">Communication, Diversity and Perspective a Recorded Live Session</a></h2>
   	</div>
   	<p>Video recorded at the 2014 KSCPA Business Valuation Conference with Michael A. Gregory, ASA, CVA, MBA</p>
   	<div>$55</div>
  </div>
</div>