---
layout: default
---
<div class="video-series">

  <header class="header">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="main video-series-content">
    {{ content }}
  </article>

  {% include clients.html %}
	{% include services.html %}
	{% include events.html %}
	{% include rel-books.html %}
	{% include about.html %}

</div>